<section id="header-sec">
    <div class="row" id="masthead">
        <div class="col-6">
            <span>
              <i class="fa fa-bars"></i>&nbsp;
              Sections
            </span>
            <span>
              <i class="fa fa-search"></i>&nbsp;
              Search
            </span>
        </div>
          <div id="top-right" class="col-6"> 
            <a href="http://www.google.com/"> asmothers...</a><i class ="fa fa-cogs"></i>
          </div>
    </div>
    <hr/>
    <header class="App-header">
        <h1 id="header-h1">
            <a routerLink="/dashboard">CAPTECH.IO NEWS</a>
          </h1> 
          <div id="date">
            {{today}}
          </div>
    </header>
  <hr/>
<!--       <fa-icon [icon]="faCoffee"></fa-icon>
  <fa-icon [icon]="faAngleDown"></fa-icon> -->
 <!--  <i class="fa fa-camera"></i>
  <i id="fa-cta" class="fa fa-angle-down fa-2x"></i> 
  <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i> -->
</section>
